* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


body {
    font-family: "Poppins";
}

.container {
    max-width: 1168px;
    margin: 0 auto;
}



.background-page {
    background: url(background-start.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 80px;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu__item-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    font-feature-settings: 'pnum'on, 'lnum'on;

    color: #FFFFFF;
}

.nav-menu__item-link:hover {
    border-bottom: 2px solid #fff;
}

.nav-menu__item-link:active {
    border-bottom: 2px solid #ffff00;
}

.nav-menu__contacts-list {
    padding: 0;
}

.nav-menu__contacts-item {
    display: flex;
    align-items: center;
}

.nav-menu__contacts-item-img {
    margin-right: 11px;
}

.nav-menu__contacts-item-tel {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
}

.nav-menu__contacts-item-tel:hover {
    border-bottom: 2px solid #fff;
}

.nav-menu__contacts-item-tel:active {
    border-bottom: 2px solid #ffff00;
}

.nav-menu__list {
    display: flex;
    padding: 0;

}

.nav-menu__item {
    margin-right: 45px;

}

.menu {
    text-align: right;

}

.menu-item {
    display: inline-block;
    text-transform: uppercase;
}

.menu-item:hover {
    text-decoration: underline;
}

.icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: #D3B47F;
    border-radius: 10px;
    right: 10px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.icon span:nth-child(1) {
    top: 0px;
}

.icon span:nth-child(2),
.icon span:nth-child(3) {
    top: 13px;
}

.icon span:nth-child(4) {
    top: 26px;
}


.menu.menu-open .icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu-open .icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu-open .icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu-open .icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu-open .links {
    margin-left: 30px;
    padding-left: 0;
    opacity: 0.9;
}



.page-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    letter-spacing: 0.06em;
    font-feature-settings: 'pnum'on, 'lnum'on;

    color: #FFFFFF;

    margin-top: 0;
    margin-bottom: 24px;
}

.page-text h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 88px;
    /* or 137% */


    color: #FFFFFF;

    margin-top: 0;
    margin-bottom: 40px;
}

.page-btn--wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 265px;
}

.page-btn__popap {

    padding: 38px 65px 38px 64px;
    background-color: #3A4574;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */


    color: #FFFFFF;

}

.page-btn__popap:hover {
    border: 2px solid #052df5;
}

.page-btn__popap:active {
    border: 2px solid #b8bccf;
}

.page-btn__social-list {
    display: flex;
    padding: 0;

}

.page-btn__social-item {
    margin-right: 25px;
}

.page-btn__social-item:last-child {
    margin-right: 0;
}

.page-btn__social-item-link p {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;


    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;

    color: #FFFFFF;
}

.page-btn__social-item-link p:hover {
    border: 1px solid #052df5;
}

.page-btn__social-item-link p:active {
    border: 1px solid #ffff00;
}



/* section: menu */


.menu {

    margin-bottom: 90px;
}

.menu-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.menu-shedule__days-one {
    width: 469px;
    margin-bottom: 20px;

}

.menu-shedule__days-text--wrap {
    display: flex;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 20px;

}

.menu-shedule__days-one h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    color: #000000;

    margin-top: 0;
    margin-bottom: 10px;
}

.menu-shedule__days-text--wrap p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    color: #000000;

    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 12px;
}

.menu-shedule__days-text--wrap p:last-child {
    margin-right: 0;
}

.menu-shedule__img--wrap {
    width: 665px;
    height: 600px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-shedule__img-ladder {
    position: absolute;
    left: 0;
    bottom: 0;
}


.menu-shedule__img-table {
    position: absolute;
    right: 0;
    top: 0;
}


.promo-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.promo-info__text {
    width: 470px;
}

.promo-info__text h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 88px;
    /* identical to box height, or 220% */


    color: #000000;

    margin-top: 0;
    margin-bottom: 4px;
}


.promo-info__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */


    /* Text/Body */

    color: #808080;

    margin: 0;

}

.promo-info__text--wrap {
    position: relative;
    margin-bottom: 16px;
}

.promo-info__text-border {
    position: absolute;
    left: -54px;

    width: 108px;
    border-bottom: 2px solid #D3B47F;

    margin-top: 0;
    margin-bottom: 16px;

}

/* popup */

.myModal {
    width: 500px;
    height: 400px;
    padding: 20px 10px;
    border-radius: 25px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 6;
    text-align: center;
}

.myModal p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height, or 167% */

    text-align: center;
    letter-spacing: 0.245em;

    color: #D3B47F;

}

.myModal__close {
    margin: 10px;
    width: 21px;
    height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px;
    right: 11px;
    cursor: pointer;
    display: block;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #D3B47F;
}

.myModal__close:hover {
    color: #3A4574;
}

.myOverlay {
    z-index: 5;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}



/* section: carousel */


.carousel {
    background-color: #3A4574;
    padding-top: 219px;
    padding-bottom: 220px;

    margin-bottom: 109px;
}

.carousel__content h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */

    text-align: center;

    color: #D3B47F;

}

.carousel__content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    /* or 250% */

    text-align: center;

    color: #FFFFFF;

}

.carousel__content h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height, or 167% */

    text-align: center;
    letter-spacing: 0.245em;

    color: #D3B47F;

}

.slider {
    position: relative
}

.slider__container {
    overflow: hidden
}

.slider__items {
    display: flex;
    transition: transform .5s ease
}

.slider_disable-transition {
    transition: none
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    user-select: none;

    display: flex;
    justify-content: center;
    text-align: center;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    height: 50px;
    transform: translateY(-50%);

}


.slider__control[data-slide=prev] {
    left: 0
}

.slider__control[data-slide=next] {
    right: 0
}

.slider__control:focus,
.slider__control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background: rgba(0, 0, 0, .3)
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 46.2px;
    background: transparent no-repeat center center;
    background-size: 100% 100%
}

.slider__control[data-slide=prev]::before {
    background-image: url("img/vector-corusel-left.png");
    background-size: auto;
}

.slider__control[data-slide=next]::before {
    background-image: url("img/vector-corusel-right.png");
    background-size: auto;
}

.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0
}

.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent
}

.slider__indicators li.active {
    background-color: rgba(255, 255, 255, .9)
}

@media screen and (max-width: 1156px) {
    .menu-schedule {
        justify-content: center;

        flex-wrap: wrap;
    }

    .promo-info__text {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 952px) {
    .nav-menu {

        justify-content: center;
    }

    .page-text {
        text-align: center;
    }

    .page-btn--wrap {
        justify-content: space-around;
    }

    .background-page {
        background-size: 952px 100%;
    }

    .nav-menu__list {
        display: none;
    }

    .nav-menu__contacts {
        display: none;
    }

    .menu-toggle {
        display: block;
    }



    .carousel__content {
        width: 800px;
    }

    .icon {
        display: inline-block;
        margin-top: 10px;
    }


    .links {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 45px;
        background-color: rgba(0, 0, 0, 0, 8);
        z-index: 1000;
        overflow: auto;
        opacity: 0;
    }

    .menu-item {
        display: block;
        background-color: #3A4574;

        padding: 10px 0;
        text-align: center;
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .background-page {
        background-size: 768px 100%;
    }

    .carousel__content {
        width: 600px;
    }

    .promo-info__img img {
        width: 500px;
    }

    .carousel {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 576px) {
    .background-page {
        background: url(background-start__size-600px.jpg);
        background-size: 100% 100%;
        margin-bottom: 20px;
    }

    .page-text {
        text-align: center;
    }

    .page-text h2 {
        font-style: normal;

        font-size: 50px;
        line-height: 60px;
        margin-bottom: 20px;
    }

    .page-btn--wrap {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 100px;
    }

    .carousel__content {
        width: 500px;
    }

    .carousel__content p {
        font-size: 15px;
    }

    .promo-info__img img {
        width: 450px;
    }

    .menu-shedule__img--wrap {
        display: none;
    }

    .myModal {
        width: 350px;
        height: 300px;
    }

    .carousel {
        margin-bottom: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .carousel__content-img {
        width: 70px;
    }

    .carousel__content h3 {
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .carousel__content h4 {
        font-size: 16px;
    }

    .menu {
        margin-bottom: 30px;
    }

    .page-btn__popap {
        padding: 18px 35px 18px 34px;
    }

    .page-text h2 {
        font-size: 27px;
        line-height: 40px;
        padding: 10px;
    }
    .promo-info__text h3 {
        font-size:  30px;
    }

@media screen and (max-width: 475px) {
    .background-page {
        background-size: 475px 100%;
    }

    .page-text p {
        font-size: 16px;
    }

    .page-text h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .menu-shedule__days {
        text-align: left;
    }

    .menu-shedule__days-one {
        width: 350px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .promo-info {
        padding-left: 10px;
        padding-right: 10px;
    }

    .promo-info__img img {
        width: 300px;
    }

    .carousel__content p {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 20px;
    }

    .menu-shedule__days-text--wrap p {
        line-height: 20px;
        font-size: 12px;
        margin-right: 6px;
    }

    .menu-shedule__days-one h2 {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .background-page {
        background: url(background-start__size320px.jpg);
        background-size: 100% 100%;
    }

    .page-text {
        text-align: center;
    }

    .page-text h2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .promo-info__img img {
        width: 320px;
    }

    .menu-shedule__img--wrap {
        display: none;
    }

    .menu-shedule__days-one {
        width: 300px;
    }


    .page-btn--wrap {
        flex-wrap: wrap;
        width: 300px;
        justify-content: center;
        padding-bottom: 50px;
    }

    .carousel__content {
        width: 300px;
    }

    .carousel {

        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
}